*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.container{
    width: 70%;
    margin: auto;
}

img{
    width: 100%;
}


.header1 .logo{
    background-color: none;
    width: 200px;
    border-right: 1px solid black;
    padding-right: 15px;
}

li{
    list-style-type: none;
    display: inline-block;
    margin: 30px 10px;
    
    
}

li a{
    color: #c1c1c1;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    text-decoration: none;

}



.header2{
    position: relative;
    background-image: url(../img/banner.jpg);
    height: 500px;
    margin: 25px 0;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}

.opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.text{
    margin-right: 50%;
    color: white;
    position: absolute;
    bottom: 80px;
    left: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header-main{
    margin-bottom: 2%;
}
.header-main h2{
    font-weight: bold;
    font-size: 40px;

}

.altezza{
    height: 250px;
}

.colonna1{
    width: 18%;
    height: 500px;
    float: left;
}

.img1{
    position: relative;
    background-image: url(../img/img-1.jpg);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.img2{
    position: relative;
    background-image: url(../img/banner-2.jpg);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.img3{
    position: relative;
    background-image: url(../img/img-3.jpg);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}


.colonna2{
    width: 60%;
    height: 500px;
    float: left;
    margin: 0 2%;
}

.colonna3{

    width: 18%;
    height: 500px;
    float: left;
}


.lorem{
    font-weight: bold;
    padding: 10px 0;
}

.c-b{
    margin-bottom: 2%;
}

.footer{
    margin-top: 2%;
    height: 50px;
    text-align: center;
}

.footer span{
    color: red;
    font-size: 30px;
}
    

